@import "tailwindcss";

/* default dark */
@theme {
  --color-luxury-bg: #0f0f0f;
  --color-luxury-surface: #1a1a1a;
  --color-luxury-card: #1e1e1e;
  --color-luxury-text: #f5f5f5;
  --color-luxury-muted: #a1a1aa;
  --color-luxury-gold: #d4af37;
  --color-luxury-champagne: #c9a24d;
  --color-luxury-emerald: #0f3d2e;
}
/* light */
html.light {
  --color-luxury-bg: #f5f5f5;
  --color-luxury-surface: #ffffff;
  --color-luxury-card: #fafafa;
  --color-luxury-text: #0f0f0f;
  --color-luxury-muted: #4b5563;
  --color-luxury-gold: #c9a24d;
  --color-luxury-champagne: #d4af37;
  --color-luxury-emerald: #065f46;
}

swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
